# db
MYSQL_IMAGE=mysql:5.7
MYSQL_IP=42.192.164.186
MYSQL_ROOT_USERNAME=root
MYSQL_ROOT_PASSWORD=root123456
MYSQL_NAME=TestDataFactory

# web
TestDataFactory_IMAGE=ccr.ccs.tencentyun.com/zhangyancheng/zhangyancheng:1.0

# nginx
NGINX_IMAGE=nginx:stable-alpine
NGINX_PORT=80